/*
Filnavn: aboutStyle.css
Skrevet av: Emil Strand, Lars Martin Hodne
Når: November 2017
Mening: Presentere innholdet i about.html på en attraktiv måte.
*/

main {
    /*display flex slik at man lett kan sentrere innhold*/
    display: flex;
}
#content { /*container for alt innhold på siden*/
    /*bestemmer høyde, sentrering av siden, sentrering av seg selv samt bakgrunnsfarge*/
    align-self: center;
    display: flex;
    margin: auto;
    width: 100vh;
    height: 60vh;
    background-color: #f2f2f2;
    align-items: center;
    max-width: 90vw;
}

#aboutDiv {/*Om oss teksten kommer her*/
    overflow: auto;
    font-size: 3vh;
    width: 75%;
    padding: 10px;
    max-height: 90%;
}

#aboutDiv h2 {
    /*overskrifter matcher fargetemaet ellers på siden*/
    color: #c33838;
}

#aboutNavigator {/*Navigerigsstrukturen kommer her*/
    width: 25%;
    height: inherit;
}

.button:first-of-type {
    /*den øverste knappen har ingen border øverst*/
    border-top: none;
}

.button {/*Gjelder alle navigasjonsknappene*/
    display: flex;
    font-size: 2.5vh;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #c33838;
    border-width: 1px 1px 0 0;
    transition-duration: 0.3s;/*gjelder når musen kommer over*/
    cursor: pointer;
    height: 20%;
    /*border-box slik at boksens størrelse inkluderer borderen*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.button:hover {/*skifter bakgrunn*/
  background-color: #c33838;
}

.button:focus {
    /*når knappen er trykket, outline:none for å unngå blå highlight*/
    outline: none;
    background-color: #c33838;
    color: #FFF;
    font-weight: bold;
}

/*for større skjermer*/
@media (min-width: 1920px) {
    #aboutDiv {
        font-size: 2.5vh;
        line-height: 120%;
    }
    .button {
        font-size: 2vh;
    }
}
/*for mobiler*/
@media (max-width: 580px) {
    .button {
        text-align: center;
        font-size: 2.2vh;
    }
    #content {
        max-width: 95vw;
    }

}

