main {
    display: flex;
}
#content {
    align-self: center;
    display: flex;
    margin: 0 auto;
    width: 100vh;
    height: 60vh;
    background-color: #f2f2f2;
    align-items: center;
}

#aboutDiv {
    font-size: 3vh;
    width: 75%;
    padding: 10px;
}


#aboutNavigator {
    width: 25%;
    height: inherit;
}

.button:first-of-type {
    border-top: none;
}

#aboutDiv h2 {
    color: #c33838;
}

.button {
    display: flex;
    width: 100%;
    font-size: 2.5vh;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #c33838;
    border-width: 1px 1px 0 0;
    transition-duration: 0.3s;
    cursor: pointer;
    height: 20%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.button:hover {
  background-color: #c33838;
}

.button:focus {
    outline: none;
    background-color: #c33838;
    color: #FFF;
    font-weight: bold;
}

