img {
    width: inherit;
}

.artikkelBoks {
    width: 325px;
    float: left;
    background-color: #f2f2f2;
    padding:10px;
    margin-bottom: 10px;
    position: fixed;

}

.artikkelBoksBilde {
    width: inherit;
}

.boksLink {
    width: inherit;
}