/*
Filnavn: artikkelStyle.css
Skrevet av: Lars Martin Hodne, Eirik Leikvolll, Emil Strand
Når: November 2017
Mening: Presentere innholdet i de ulike artiklene på en attraktiv og udistraherende måte.
*/
section {/*alt innhold på siden*/
    max-width: 1300px;
    width: 60vw;
    margin:0 auto;
}

section img{/*alle bilder sentres*/
    width: inherit;
    display: block;
    margin:0 auto;
}

#bildeVindu, #artikkel {/*bildevindu er hovedbilde og tittel, artikkel er selve artikkelen*/
    width:inherit;
}

#bildeVindu h1 {/*overskriften*/
    margin: 10px 0 10px 0;
    font-size: 3vw;
}

#artikkel {/*her kommer innholdet til selve artikkelen*/
    max-width: 1000px;
    font-size: 2.5vh;
    line-height: 1.625em;
    font-family: "Helvetica", sans-serif;
    margin: 0 auto;
}
#artikkel h4 {/*Gjelder ene artikkelen, som har en del h4 i en tabell*/
    text-align: center;
}

#info p {/*infoboks med dato og forfatter*/
    font-size: 2.3vh;
}

#artikkel img{/*bilder i artikkel*/
    width: auto;
    max-width: 90%;
}

blockquote a, table a, p a {/*Linker i artikkel*/
    /*linker i artiklene får underline*/
    text-decoration: underline;
}
blockquote a:hover, p a:hover, .table a:hover {
    /*fjerner underline når musepeker kommer over*/
    text-decoration: none;
}
blockquote {
    /*blockquotes har litt mindre italic skrift*/
    font-style: italic;
    font-size: 90%;
}

table {/*for tabell i ene artikkelen*/
    display: flex;
    /*flex flow column slik at innhold "flyter" nedover*/
    flex-flow: column;
}

tr:nth-child(even) {
    /*Gjelder overskrifter(de er even child) i tabellen*/
    width: 100%;
    justify-content: center;
    font-weight: bold;
    align-self: center;
    font-size: 120%;
    margin: 3vh;
}

tr {
    display: flex;
}

td {
    margin: 0 2vh;
    width: 50%;
    /*plasserer seg selv øverst i parent*/
    align-self: flex-start;
}

tr:first-child {
    display: block;
    margin: auto;
}
/*facebook/twitter linker*/
.shareLinkFacebook {
    padding: 5px 10px;
    background-color: #3b5998;
    color: #f7f7f7;
}

.shareLinkTwitter {
    display: inline;
    padding: 5px 10px;
    margin: 10px;
    background-color: #55acee;
    color: #f5f8fa;
}

.shareLinkTwitter:hover,.shareLinkFacebook:hover  {
    box-shadow: 2px 2px 3px #BBB ;
}
/*for store skjermer*/
@media (min-width: 1920px) {
    #bildeVindu h1 {
        font-size: 2vw;
    }

    #artikkel {
        font-size: 2vh;
    }

    #info p {
        font-size: 1.7vh;
    }
}
/*for mobiler*/
@media (max-width: 580px) {
    section {/*alt innhold på siden*/
        width: 90vw;
    }

    #bildeVindu h1 {
        font-size: 6vw;
    }
}