/*
Filnavn: artikkelStyle.css
Skrevet av: Lars Martin Hodne, Eirik Leikvolll, Emil Strand
Når: November 2017
Mening: Presentere innholdet i de ulike artiklene på en attraktiv og udistraherende måte.
*/

.contentDiv {
    max-width: 1300px;
    width:inherit;
    margin-bottom: 10px;
    padding-bottom:1vh;
}

h1 {
    margin: 10px 0 10px 0;
    font-size: 3vw;
}

.bilde {
    width: inherit;
    max-width: 1300px;
}

#artikkel {
    max-width: 1000px;
    font-size: 2.5vh;
    line-height: 1.625em;
    font-family: "Helvetica", sans-serif;
    margin: 0 auto;
}
#artikkel h4 {
    text-align: center;
}
#info p {
    font-size: 2.3vh;
}

section {
    max-width: 1300px;
    width: 60vw;
    margin:0 auto;
}

img{
    width: inherit;
    max-width: 1300px;
    display: block;
    margin:0 auto;
}

#artikkel img{
    max-width: 90%;
}

blockquote a, .dobbelDiv a, p a {
    text-decoration: underline;
}
blockquote a:hover, p a:hover, .dobbelDiv a:hover {
    text-decoration: none;
}
blockquote {
    font-style: italic;
    font-size: 80%;
}
.dobbelDiv {
    display: inline-block;
    width: 48%;
    text-align: left;
    padding: 1%;
    align-self: flex-start;
}
.dobbelContainer {
    display: flex;
    flex-wrap: wrap;
}

.shareLinkFacebook {
    padding: 5px 10px;
    background-color: #3b5998;
    color: #f7f7f7;
    width: inherit;
}

.shareLinkTwitter {
    display: inline;
    padding: 5px 10px;
    margin: 10px;
    background-color: #55acee;
    color: #f5f8fa;
    width: inherit;
}

#FBpost {
    width: 500px;
}

a {
    color: #55acee;
}