/*
Filnavn: defaultStyle.css
Skrevet av: Eirik Leikvoll, Einar Viddal, Lars Martin Hodne
Når: Oktober/Noveber 2017
Mening: Beskrive de generelle stilene(footer header osv.) til hver side, alle sidene vil ta i bruk denne css filen.
Dette inneholder generelle stiler, headeren og footeren.
*/

/* Default */
/* Beskriven den generelle stilen for html-filene og innholdet*/
body, html {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Verdana, Georgia, Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {/*main utvider seg til tilgjengelig plass*/
    flex: 1 0 auto;
}
a {
    text-decoration: none;
    color: #000;
}

/* Header */
/* Her beskrives stilen til headeren og innholdet i den */
#header {/*selve headeren*/
    background-color: #c33838;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    box-shadow: 0 4px 20px #BBB;
}

header b {/*bold tekst i header*/
    color: #c33838;
}

#header h1 {/*h1 i header ("NVIG")*/
    margin: 0;
    color: #FFF;
    font-size: 6vh;
}

header a {/*link i header - NVIG logo*/
    display: flex;
    align-items: center;
}

#header img {/*Logoen i header*/
    height: 8vh;
}

/*Her beskrives stilen til kanppen som åpner og lukker navbaren*/
#navOpener {/*liten "kuppel" som viser at man kan trykke her for å åpne navbare*/
    margin: auto auto 2vh auto;
    width: 33%;
    height: 4vh;
    background-color: #eee;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;/*gir kuppel formen*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#navOpener img {/*pilen i openeren er eit bilde, bilde roteres alt etter om openeren er aktivertr eller ikke*/
    width: auto;
    max-height: 4vh;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

#arrow{/*selve pilbilde*/
    font-size: 4vh;
    padding-top: 1vh;
    font-weight: bold;
}
#arrow:hover {/*hover effekt*/
    cursor: pointer;
}

.closeArrow {/*roterings klasse*/
    -ms-transform: rotate(180deg) !important; /* IE 9 */
    -webkit-transform: rotate(180deg) !important; /* Safari */
    transform: rotate(180deg) !important;
    transition: all 0.3s ease !important;
}

#navbar {/*diven som åpnes av navOpener*/
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    height: 0;
    font-size: 3vh;
    flex-flow: row wrap;
}
/*Her beskrives animasjonene som gjennomføres når navbaren åpnes og lukkes*/
@keyframes openNavbar{
    0%    {height: 0; padding: 0;}
    100%  {height: 20vh; padding: 1vh 0 4vh 0;}
}
@keyframes closeNavbar{
    0%    {height: 20vh; padding: 1vh 0 4vh 0;}
    100%  {height: 0; padding: 0;}
}

/*Her beskrives stilen til de ulike kolonnene i navbaren*/
.menyDiv {
    text-align: left;
    padding: 10px;
}
.menyDiv a {/*linker i kolonnene*/
    margin: 0.7vh 0;
}

@media (max-width: 580px) {
    @keyframes openNavbar{
        0%    {height: 0; padding: 0;}
        100%  {height: 42vh; padding: 1vh 0 4vh 0;}
    }
    @keyframes closeNavbar{
        0%    {height: 42vh; padding: 1vh 0 4vh 0;}
        100%  {height: 0; padding: 0;}
    }
    .menyDiv a {/*linker i kolonnene*/
        margin: 1.4vh 0;
    }
}

/* Footer */
/* Her beskrives stilen til footeren som finnes på alle sidene */
footer {/*slve footeren*/
    font-size: 2vh;
    padding-top: 2vh;
    height: 18vh;
    text-align: center;
    background-color: #dbdbdb;
    margin-top: 20px;
    border-top: 1px solid darkgrey;
}

footer h3, footer a {/*farge på tekst/linker*/
    color: #666666;
}

footer a {/*link i footer*/
    font-size: 120%;
    text-decoration: underline;
}

footer a:hover {/*hover-effekt*/
    text-decoration: none;
}
