/*
Filnavn: FrontPage.css
Skrevet av: Einar Viddal, Eirik Leikvoll, Lars Martin Hodne
Når: Oktober/Noveber 2017
Mening: Beskrive stilen til front siden.
*/
/*setter text-align for siden*/
body {
    text-align: center;
}
/*sentrerer inhhold, maksbredde*/
main {
    max-width: 1200px;
    width: 60vw;
    margin: auto;
}

main img {/*gjør at bilder ikke flyter ut av containeren sin*/
    width: 100%;
}
/*hver rad med innhold på forsiden er en .contentsection*/
.contentSection {
    margin-bottom: 10px;
    width: inherit;
    display: flex;
    justify-content: space-between;
}

.contentDiv {
    /*contentdiv er hver enkelt artikkellink på siden*/
    background-color: #EEE;
    box-shadow: 0 1px 1px #BBB;
    width: 100%;
}
.contentDiv:hover {
    /*hover-effekt*/
    box-shadow: 0 4px 10px #BBB
}

.items_1  {
    /*item-klassegiving sorteres dynamisk av js på siden*/
    /*items_1 viser til at den aktuelle contentSection viser et element*/
    width: 100%;
}

.items_2 {
    /*items 2 viser til at den aktuelle contentsection viser 2 element(derfor litt mindre bredde) osv*/
    width: 49%;
}

.items_3 {/*3 element i contentsection*/
    width: 32%;
}


.items_1 a, .items_2 a, .items_3 a {
    /*felles for alle a i "items" */
    height: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.items_1 a {/*items 1 får stor skrift*/
    font-size: 4vw;
}

.items_2 a {/*middels stor skrift*/
    font-size: 2.9vw;
}

.items_3 a {/*liten skrift*/
    font-size: 1.7vw;
}

/*overskriftene er en del av linkene i "items"*/
.overskrift {
    margin: 10px 0;
    display: flex;
    /*overskriften tar opp den tilgjengelige plassen*/
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
}

/*div hvor sosiale medier er plassert*/
#twitterOgYoutube {
    margin-top: 4vh;
    width: 60vw;
    max-height: 16.6vw;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
/*div hvor twitterlinken ligger i*/
#twitter {
    overflow: hidden;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

iframe {
    /*youtube er en iframe*/
    width: 29.5vw;
    max-width: 587px;
    height: 16.6vw;
    border: none;/*fjerner ifram-border*/
}
/*for "vanlige" skjermer*/
@media (max-width: 1920px) {
    .items_1 a {
        font-size: 5.5vw;
    }

    .items_2 a {
        font-size: 3.7vw;
    }

    .items_3 a {
        font-size: 2.5vw;
    }
}

/*for små skjermer*/
@media (max-width: 580px) {
    main {
        width: 90vw;
        padding: 0 10px 0 10px;
    }
    .contentSection {
        flex-flow: column wrap;
        flex: 1 1 auto;

    }
    .items_1, .items_2, .items_3 {
        margin: 10px 0;
        width: 100%;
    }

    .items_3 a, .items_2 a, .items_1 a {
        height: 100%;
        font-size: 6vw;
        font-weight: bold;
        display: flex;
        flex-direction: column;
    }

    #twitterOgYoutube {
        margin-top: 0;
        flex-wrap: wrap;
        width: 100vw;
        max-height: none;
    }

    iframe {
        /*youtube er en iframe*/
        width: 90vw;
        height: 51.2vw;
    }

    #twitter {
        width: 93%;
        padding:2vh 0;
    }
}
