/*
Filnavn: quizStyle.css
Skrevet av: Eirik Leikvoll, Lars Martin Hodne, Einar Viddal
Når: November 2017
Mening: Beskrive stilen til quiz siden.
*/

.contentDiv {
    width: 80vw;
    margin: auto;
}

#velgQuiz {
  text-align: center;
}
#quizListe {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  width: inherit;
}
.quizValgBoks {
  background-color: #eee;
  height: auto;
  margin: 10px;
  box-shadow: 0 1px 1px #BBB;
  width: 65vh;
  max-width: 700px;
}
.quizValgBoks img {
  width: 100%;
}
.quizValgBoks p {
  font-weight: bold;
  font-size: 4vh;
  margin: 5px;
}
.quizValgBoks:hover, .byttKnapp:hover {
    cursor: pointer;
}

#SampleDiv {
  display: none;
  height: 75vh;
}

#SampleDiv img {
    display: block;
    height: 50vh;
    margin: 0 auto;
}

#sporsmaalsDiv {
    margin:0 auto;
    height: 30%;
    max-width: 1200px;
}

#sporsmaalsDiv h3 {
    margin: 10px 0 10px 10px;
}

input[type=radio]{
    margin: 10px;
}

.label {
    display: block;
    font-size: 1.7vh;
}

#navDiv {
    margin: 15px auto;
    max-width: 1200px;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

#ferdig {
  display: none;
  text-align: center;
  padding: 20px;
}

#ferdig input {
    font-size: 2vh;
  border-radius: 10px;
  height: 8vh;
  color: #fff;
  background-color: #c33838;
}

#ferdig input:focus, .byttKnapp{
    outline: none;
}

.byttKnapp {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 3vh;
    font-weight: bold;
}

.byttKnapp:active {
    border: 1px solid black;
}
