/*
Filnavn: quizStyle.css
Skrevet av: Eirik Leikvoll, Lars Martin Hodne, Einar Viddal
Når: November 2017
Mening: Beskrive stilen til quiz siden.
*/

.contentDiv { /*Diven hvor man velger quiz og tar quiz*/
    width: 80vw;
    margin: auto; /*Sentrerer boksene*/
}

#velgQuiz {/*inneholder quiz-liset og overskrift*/
    /*css er forberedt på at flere quiz-alternativ legges til i quizer-js*/
    width: 100vw;
    flex-flow:column;
    text-align: center;
    display: flex;
}

#velgQuiz h2 {/*overskrift*/
    font-size: 3vh;
}

#quizListe { /*quiz-liste*/
    /*Fikser bredde, og plassering av innhold*/
    max-width: 140vh;
    align-self: center;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width: inherit;
}
.quizValgBoks {/*quiz-alternativ*/
  background-color: #eee;
  margin: 10px;
  box-shadow: 0 1px 1px #BBB;
  width: 65vh;
  max-width: 700px;
}

.quizValgBoks img {/*bilde for alternativet*/
  width: 100%;
}

/*Gjør det tydelig at man kan trykke på knappene*/
.quizValgBoks:hover, .byttKnapp:hover {
    cursor: pointer;
}

#SampleDiv { /*Boksen man tar en quiz i*/
  display: none; /*Skjuler den til man velger en quiz*/
  height: 75vh;
}

#SampleDiv img {/*bilde for det aktuelle spørsmålet*/
    border: 1px solid #dbdbdb;/*gjør at flaggene ikke går i ett med bakgrunnen*/
    height:25vw;
    max-height: 600px;
    max-width: 80vw;
    display: block;
    margin: 0 auto;
}

#sporsmaalsDiv {/*div for sprøsmålene*/
    margin:0 auto;
    height: 30%;
    max-width: 1200px;
}

#sporsmaalsDiv h3 { /*Spørsmålet i quizen*/
    font-size: 2.5vh;
    margin: 10px 0 10px 10px;
}

.label { /*Svaralternativene*/
    display: block;
    font-size: 2.5vh;
}

input[type=radio]{ /*Knapp i svaraltirnativene*/
    margin: 10px;
}

#navDiv { /*Navigerings div*/
    font-size: 2.2vh;
    font-weight: bold;
    margin: 15px auto;
    max-width: 1200px;
    height: 10%;
    display: flex;
    justify-content: space-between; /*Likt mellomrom mellom elementene inni diven*/
}

.byttKnapp { /*Knapper for å navigere mellom spørsmål*/
    font-weight: bold;
    border: 1px solid white;/*slik at den ikke flytter seg når den får border av :hover*/
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 3vh;
}

.byttKnapp:active {
    border: 1px solid black;
}

#ferdig { /*Boks som viser resultat*/
  display: none; /*Skjult til man er ferdig med quiz*/
  text-align: center;
  padding: 20px;
}

#ferdig input { /*Knapp som avslutter quizen*/
  font-size: 2vh;
  border-radius: 10px;
  height: 8vh;
  color: #fff;
  background-color: #c33838;
}

#ferdig input:focus, .byttKnapp{
    outline: none; /*Fjerner standard outline på knapp*/
}
